.play-container {
    padding: 20px 2%;
    background-color: rgb(12, 15, 26);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .play-container .play-video {
    flex-basis: 69%;
  }
  
  .play-container .related-videos {
    flex-basis: 29%;
    background-color: #f0f0f0;
    padding: 20px;
  }
  